body {
    background-image: url(../assets/images/background.jpg);
    border-bottom: 10px solid turquoise;
    border-width: 5px;
}

#section {
    background-color: white;
    margin-top: 70px;
}

h1 {
    padding: 20px;
    color: turquoise;
}

.img-thumbnail {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    float: left;
}

p {
    padding-left: 20px;
    padding-top: 20px;
}

.container {
    margin-bottom: 50px;
}

.navbar-brand {
    background-color:turquoise;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
}
 form {
     padding-left: 40px;
     padding-top: 20px;
 }

 #submit-button {
     margin-left: 20px;
     margin-bottom: 40px;
     background-color: turquoise !important;
     border-radius: 0 !important;
     padding: 20px 40px !important;
 }

 #bottom-image-left, #bottom-image-right {
     margin-bottom: 40px;
 }

 @media (max-width: 768px){
    .navbar-brand {
        margin-left: 0;
    }

    #bottom-image-left {
        margin-bottom: 0;
    }
 }

 @media (max-width: 400px){
     .container {
         width: 95% !important;
     }

     #profile-picture {
         width: 250px !important;
     }

     .img-thumbnail {
         padding-left: 10px;
     }

     p {
         padding-left: 10px;
         padding-right: 10px;
     }

     form {
         margin: 0 auto;
         padding: 40px;
     }

 }